name: Frontend

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  docker:

    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: frontend-app

    outputs:
      name: ${{ steps.get-image-name.outputs.image-name }}
      hash: ${{ steps.build.outputs.imageid }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Version
        id: get-version
        run: echo "version=1.${{ github.run_number }}.${{ github.run_attempt }}" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          sep-tags: ','
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags:
            type=semver,pattern={{version}},value=v${{ steps.get-version.outputs.version }}

      - name: Get image name
        id: get-image-name
        run: echo "image-name=${{ steps.meta.outputs.tags }}" | cut -d, -f1 >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            VERSION=${{ steps.get-version.outputs.version }}
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Push tag
        run: |
          tag=${{ steps.get-version.outputs.version }}
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git tag -a "v${tag}" -m "Build version ${tag}"
          git push origin "${tag}"

  deploy:

    needs: docker
    runs-on: cttit
    if: false

    env:
      IMAGE: ${{ needs.docker.outputs.name }}
      CONTAINER_NAME: frontend-app

    steps:
      - name: Get old image hash
        id: old-image
        run: sudo docker container inspect ${{ env.CONTAINER_NAME }} --format='{{.Config.Image}}' | awk '{print "image="$1}' >> $GITHUB_OUTPUT

      - name: Pull new container
        run: sudo docker pull ${{ env.IMAGE }}

      - name: Stop running container
        run: sudo docker stop ${{ env.CONTAINER_NAME }} || true

      - name: Remove old container
        run: sudo docker container rm ${{ env.CONTAINER_NAME }} || true

      - name: Run a new container
        run: sudo docker run -d --name ${{ env.CONTAINER_NAME }} --network progolymp --restart unless-stopped  --label "traefik.http.routers.${{ env.CONTAINER_NAME }}.rule=Host(\`progolymp.cttit.ru\`)" ${{ env.IMAGE }}

      - name: Delete old image
        run: sudo docker image rm ${{ steps.old-image.outputs.image }} || true
